/*csslint ids: false, box-model: false*/

/***************
General
***************/

#Body1 {
    background-image:url(../img/background2.png);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

#Body2 {
    background-image:url(../img/background3.png);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

#Body3 {
    background-image:url(../img/background4.jpg);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

#wrapper {
    /*Margin 0 is for all sides*/
    margin: 0 auto;
    /*max width is related to width. But instead of with, max-width that it can be smaller for mobile devices
    tablets.*/
    max-width: 940px;    
    /*Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
}

h3 {
    color: gray;
    margin: 0 0 1em 0;
}


/***************
Header
***************/

header{
    position: fixed;
}

#logo {    
    margin: 0;
    /* Our name and description of who we are.*/
    text-align: center;
}

h1 {
    color: honeydew;
    font-family: 'Asar', serif; 
    font-size: 1.75em;
    margin: 15px 0; 
}

h2 {
    color: honeydew;
    font-size: 0.75em;
    font-weight: normal;
    margin: -5px 0 0;    
}


/***************
Navigation
***************/

nav {    
    margin: 20px 0 0;
    padding: 10px 0;    
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/***************
Body1 Section
***************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;    
}

#gallery li {
    background-color: lightgray;
    color: darkgray;
    float: left;
    margin: 2.5%;
    width: 45%;    
}

#gallery li a p {
    color: black;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;    
}


/***************
Body 2 Section
***************/

#About-sec {
    color: lightgray;
}

.profile-photo {
    border-radius: 15%;
    display: block;
    max-width: 500px;
}

.modal-content{
    background-color: dimgray;
    color: black;
}

/***************
Body 3 Section
***************/

.contact-info{
    font-size: 0.9em;
    list-style: none;
    margin: 0; 
    padding: 0;   
}

.contact-info a{
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.mail a{
     background-image: url(../img/profile-picture.png);
}

.facebook a{
     background-image: url(../img/twitter.jpg);
}

/***************
Footer
***************/

footer {
    clear: both;
    color: darkgray;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/***************
Colors
***************/

#wrapper p{
    color: lightgray;
}

body {
    background-color: cornsilk;
    color: honeydew;
}

a {
    color: dimgray;
}

header {
    background-image: url(../img/header.jpg);
}

nav {
    background-image: url(../img/nav.jpg);
}

/*Pseudo-Class*/

nav a:visited {
    color: lightgray;
}

.selected {
    color: darkcyan;
}

 nav a:hover {
    color: darkcyan;
}
/***************
MEDIA FILES
***************/
@media screen and (min-width: 480px){
/*TWO COLUMN LAYOUT*/
    
    #primary{
        float: left;
        width: 50%;
    }
    #secondary{
        float: right;
        width: 40%;
    }
/*THREE COLUMN LAYOUT PORTFOLIO*/
    
    #gallery li{
        width: 28.3333%;
    }
    #gallery li:nth-child(4n){
        clear: left;
    }
/*ABOUT PAGE*/
    
    .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
        
    }
    
}

@media screen and (min-width: 660px){
    
    nav{
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 0.835em;
        margin-bottom: 25px;
    }
    header{
        border-bottom: 5px solid black;
        margin: 60px;
    }
    
}





